.typewriter-container {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    background: linear-gradient(90deg, #c77dff, #9d4edd, #5a189a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow-text 4s ease-in-out infinite alternate;
    white-space: nowrap;
    display: inline-block;
    position: relative;
  }
  @media (max-width: 767px) {
    .typewriter-container {
      -webkit-text-fill-color:#5a189a;
    }
    
  }
  .typewriter-container::after {
    content: "|";
    color: #c77dff;
    font-weight: bold;
    margin-left: 5px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  @keyframes glow-text {
    0% {
      text-shadow: 0 0 10px #9d4edd, 0 0 20px #5a189a;
    }
    100% {
      text-shadow: 0 0 20px #c77dff, 0 0 30px #7b2cbf;
    }
  }
  